body {
    font-size: 15px;
    font-family: "Poppins", "Changa", sans-serif;
    direction: rtl;
}

.section {
    padding: 120px 0;
}

.section-image.position-relative {
    text-align: left;
}

.float-section-image {
    position: absolute;
    left: 0;
    border-radius: 24px;
}

.float-section-image:nth-child(2) {
    left: 40%;
    border: 16px solid white;
    bottom: -480px;
    border-radius: 0;
}