:root {
    --main-color: #ff6900;
}

body {
    font-size: 15px;
    font-family: "Poppins", "Changa", sans-serif;
    direction: rtl;
}

a {
    color: var(--main-color);
}

/* ---------------------------------------------------------------------------- */
/* ========> NAVBAR */
/* ---------------------------------------------------------------------------- */
.navbar {
    position: fixed;
    z-index: 999;
    background-color: white;
    width: 100%;
    box-shadow: 0 5px 16px rgb(0, 0, 0, 0.1);
}

.navbar .navbar-brand img {
    width: 64px;
    height: 60px;
}

.navbar .nav-link {
    font-weight: 600;
    font-size: 16px;
    position: relative;
}

@media (min-width: 991px) {
    .navbar .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background-color: var(--main-color);
        transition: 0.3s ease;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (max-width: 991px) {
    .navbar-collapse {
        background-color: whitesmoke;
        padding: 0 16px;
        border-radius: 6px;
        margin-top: 12px;
    }

    .navbar .nav-link {
        border-bottom: 1px dashed #dbdbdb;
        font-size: 15px;
        padding: 16px 0;
    }

    .navbar .nav-item:last-of-type .nav-link {
        border-bottom: none;
    }

    .navbar .btn {
        display: none !important;
    }
}

.navbar .nav-item .nav-link:hover {
    color: black;
}

.navbar .nav-item .nav-link.active::before,
.navbar .nav-item:not(:has(.dropdown-menu.show)):hover .nav-link::before {
    width: 25%;
}

.navbar .nav-link.active {
    color: var(--main-color);
}

.dropdown-menu {
    width: 240px;
    border: none;
    box-shadow: 3px 6px 16px rgb(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 12px;
}

.dropdown-menu .dropdown-item {
    padding: 10px 16px;
    font-size: 15px;
    transition: 0.3s ease;
    border-bottom: 1px dashed rgb(0 0 0 / 9%);
    border-radius: 5px;
}

.dropdown-menu li:last-child .dropdown-item {
    border-bottom: none;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item.active {
    background-color: var(--main-color);
    color: white;
}

.dropdown-menu .dropdown-item:hover {
    padding-right: 24px;
}

.navbar .btn {
    border-radius: 4px;
    font-size: 14px;
    background-color: #314158;
    border-color: #314158;
    display: inline-flex;
    align-items: center;
    gap: 4px;
}

.navbar .btn:hover {
    background-color: transparent;
    color: var(--main-color);
}

/* ---------------------------------------------------------------------------- */
/* ========> ABOUT SECTTION */
/* ---------------------------------------------------------------------------- */
.section {
    padding: 120px 0;
}

@media (max-width: 992px) {
    .section {
        padding: 32px 0;
    }
}

.section-image.position-relative {
    text-align: left;
}

.about-section .section-image>div {
    position: absolute;
    left: 62%;
    top: 20px;
}

.about-section .section-image>div span {
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.about-section .section-image>div span:nth-child(2) {
    font-size: 46px;
    font-weight: 700;
}

/* ---------------------------------------------------------------------------- */
/* ========> COLLAGE ADMISSION SYSTEM */
/* ---------------------------------------------------------------------------- */
.college-admission-system {
    background-image: url("../images/parallax2-1.jpg");
    background-position: center right;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media (max-width: 991px) {
    .college-admission-system {
        background-position: center;
    }
}

/* ---------------------------------------------------------------------------- */
/* ========> FOOTER */
/* ---------------------------------------------------------------------------- */
.footer {
    background-image: url("../images/background-image-1.jpg");
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 124px 0 0;
}

@media (max-width: 991px) {
    .footer {
        background-color: #1c0802;
        background-image: none;
        margin: 0;
        color: white;
        padding-top: 42px;
    }
}

.footer-logo {
    width: 184px;
    background-color: white;
    padding: 6px;
    margin-bottom: 16px;
}

.footer h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 24px;
}

.footer .socials {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer .socials .social-item {
    display: grid;
    place-content: center;
    background-color: white;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    color: #000000;
}

.footer-left {
    padding-top: 68px;
}

.footer-left h6 {
    font-size: 20px;
    font-weight: 600;
}

.footer .copyright {
    border-top: 1px solid white;
    margin-top: 34px;
    padding-top: 12px;
}

@media (max-width: 991px) {
    .footer .copyright {
        border-top-color: rgb(255, 255, 255, 0.15);
        text-align: center;
    }
}

.footer .copyright p {
    font-size: 14px;
}

.college-admission-system .section-text-content {
    width: 65%;
    background-color: rgb(0 0 0 / 21%);
    padding: 64px;
    backdrop-filter: blur(3px);
    color: white;
}

@media (max-width: 991px) {
    .college-admission-system .section-text-content {
        width: 100%;
        padding: 12px;
    }
}

h2.section-title {
    font-size: 28px;
    font-weight: 700;
    border-right: 5px solid var(--main-color);
    margin: 16px 0 24px;
    padding-right: 16px;
}

.section-text p {
    line-height: 36px;
    text-align: justify;
}

@media (min-width: 991px) {
    .section-text p {
        padding-right: 24px;
    }
}

.section-text p span {
    text-decoration: underline;
    font-weight: 500;
}

.college-admission-system .section-text-content p {
    text-align: justify;
    line-height: 27px;
    font-size: 16px;
}

@media (min-width: 991px) {
    .college-admission-system .section-text-content p {
        padding-right: 24px;
    }
}

.ns-req-item {
    background-color: whitesmoke;
    padding: 24px;
    margin-bottom: 24px;
    border-radius: 8px;
    position: relative;
    /* padding-top: 68px; */
    border: 1px solid;
    box-shadow: 2px 4px;
}

.ns-req-item:hover h6 {
    color: var(--main-color);
}

.ns-req-item span {
    display: grid;
    place-content: center;
    width: 48px;
    height: 48px;
    background-color: var(--bs-primary);
    color: white;
    position: absolute;
    top: 0;
}

.ns-req-item span::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: var(--bs-primary);
    top: -10px;
}

.ns-req-item span::after {
    content: "";
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color: var(--bs-primary);
    left: -11px;
    top: -20px;
    z-index: -1;
}

.ns-req-item h6 {
    font-weight: 700;
    font-size: 17px;
}

.ns-req-item p {
    font-size: 14px;
    line-height: 24px;
    text-align: justify;
}

.hero-section .carousel-item img {
    height: 650px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.hero-section .carousel-item::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #ff572252;
    left: 0;
    top: 0;
}

.hero-section .carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 991px) {
    .hero-section .carousel-caption h5 {
        font-size: 58px;
        font-weight: 700;
    }
}

.hero-section .carousel-caption p {
    width: 65%;
    margin: 40px auto;
    font-size: 20px;
    line-height: 32px;
}

.button {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 36px;
    border-radius: 6px;
    transition: 0.3s ease;
}

.button-primary {
    background-color: var(--main-color);
    color: white;
}

.section-text>.button {
    margin-right: 23px;
    margin-top: 24px;
}

.button-primary:hover {
    background-color: black;
}

.section-image img {
    border-radius: 24px;
    object-fit: cover;
    object-position: top;
}

@media (max-width: 991px) {
    .section-image img {
        margin-top: 16px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 1400px) {
    .section-image img:nth-child(2) {
        display: none;
    }
}

.footer .socials .social-item svg {
    width: 20px;
}

.footer .socials .social-item:hover {
    background-color: var(--main-color);
    color: white;
}